
[run]
omit =
        *__init__*
        *__main__*
        */usr/local/lib*
        *tests*
        *test*
        *demo*
        *exceptions.py
        */gui/experiments/*
        */gui/viewer/*
        */gui/BCInterface.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise NotImplementedError
    @abstract
    if __name__ == .__main__.:
    logging.getLogger(__name__)
