*.pyc
*~
.DS_Store
.cache/
.vscode/
.tm_properties
.mypy_cache/
data/
# Virtualenv
venv/
venv*/
__pycache__/
.cache/

# BciPy files and directories
calibration.csv
rawdata.csv
buffer.db
lmwrap.log
env.txt
.idea
.coverage
htmlcov/
bcipy.egg-info/
build/
dist/

bcipy/parameters/parameters_*
bcipy_cache
bcipy/language/lms/lm_dec19_char_large_12gram.*
bcipy/language/lms/out_*
bcipy/language/out/
