# OS and Package Files
*.pyc
*~
.DS_Store
.cache/
.vscode/
.tm_properties
.mypy_cache/
mypy-html.css
.coverage
index.html
htmlcov/
html/

# Virtualenv
venv/
venv*/
__pycache__/
.cache/

# BciPy files and directories
*.pdf
buffer.db
lmwrap.log
env.txt
.idea
bcipy.egg-info/
build/
dist/
bcipy/parameters/parameters_*
bcipy_cache
bcipy/language/lms/lm_dec19_char_large_12gram.*
bcipy/language/lms/out_*
bcipy/language/out/

bcipy/simulator/tests/resource/
# Ignore the data directory, which contains the raw data files, but not the data modules
data/
bids/
!bcipy/simulator/data
