# OS and Package Files
*.pyc
*~
.DS_Store
.cache/
.vscode/
.tm_properties
.mypy_cache/
mypy-html.css
.coverage
index.html
htmlcov/
html/

# Virtualenv
venv/
venv*/
__pycache__/
.cache/

# BciPy files and directories
*.csv
*.pdf
buffer.db
lmwrap.log
env.txt
.idea
bcipy.egg-info/
data/
build/
dist/
bcipy/parameters/parameters_*
bcipy_cache
bcipy/language/lms/lm_dec19_char_large_12gram.*
bcipy/language/lms/out_*
bcipy/language/out/

# Playground stuff

cVEP_80trials_shift4/
bcipy/signal/model/play_ground.py