attrdict3==2.0.2
transformers==4.26.0
torch==1.10.1
construct==2.8.14
mne==1.0.2
pyo==1.0.4
pygame==2.1.2
pyglet<=1.5.27,>=1.4
PsychoPy==2023.2.1
openpyxl==2.6.3
numpy==1.20.3
sounddevice==0.4.1
SoundFile==0.12.1
scipy==1.10.1
scikit-learn==1.2.2
seaborn==0.9.0
matplotlib==3.7.2
pylsl==1.16
pandas==1.5.3
psutil==5.7.2
Pillow==9.4.0
py-cpuinfo==7.0.0
pyedflib==0.1.34
PyQt6==6.5.2
pywavelets==1.4.1
tqdm==4.62.2