wheel==0.30.0
wxPython==4.0.1
configobj==5.0.6
docker==2.6.1
json-tricks==3.8.0
olefile==0.44
PyOpenGL==3.1.0
pyOpenSSL==17.5.0
mne==0.17.0
lxml==4.1.1
PsychoPy==3.0.4
pytz==2017.2
six==1.11.0
numpy==1.16.2
scipy==1.2.1
future==0.16.0
sklearn==0.0
seaborn==0.9.0
construct==2.8.14
matplotlib==2.1.1
pylsl==1.13.1
psutil==5.4.0
pandas==0.24.1
sounddevice==0.3.10
SoundFile==0.10.1
PySoundCard==0.5.2
PySoundFile==0.9.0
Pillow==4.3.0
openpyxl==2.6.3