attrdict3==2.0.2
transformers==4.26.0
torch==2.0.0
construct==2.8.14
mne==1.5.0
pyo==1.0.5
pyglet<=1.5.27,>=1.4
PsychoPy==2024.2.1
openpyxl==3.1.2
numpy==1.24.4
sounddevice==0.4.4
SoundFile==0.12.1
scipy==1.10.1
scikit-learn==1.2.2
seaborn==0.9.0
matplotlib==3.7.2
pylsl==1.16.2
pandas==2.2.3
psutil==5.7.2
Pillow==9.4.0
py-cpuinfo==9.0.0
pyedflib==0.1.34
PyQt6==6.7.1
pywavelets==1.4.1
tqdm==4.62.2
reportlab==4.2.0
tables==3.7.0